.panel {
  font-size: 16px;
}
.device-wrapper {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}

.panel.device {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
  width: 100%;
}
.device-name {
  font-weight: bold;
}
.last-updated {
  font-size: 12px;
  color: #aaa;
  margin-top: 15px;
  margin-bottom: 15px;
}
ul.mac-addresses {
  padding: 0;
  margin: 0;
}
.device-info {
  font-size: 12px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.device-info dt, dd {
  margin-bottom: 0;
}
.device-info dd {
  margin-left: calc(20% + 10px);
}
.device-info dt {
  width: 20%;
  font-weight: bold;
  text-align: right;
  box-sizing: border-box;
  margin-right: 10px;
  float: left;
  clear: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.device-info-toggle {
  float: right;
  position: relative;
  top: -2em;
  color: rgba(40,40,40, 0.3);
  opacity: 0.3;
}
.device-info-toggle.closed,
.show-description.closed, {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  transition: transform 0.2s ease;
}
.toggleLink, .device-info-toggle:hover {
  text-decoration: none;
  cursor: pointer;
}
.possible-match {
  color: #b99a4b;
  border-bottom: 1px dotted #ddd;
  padding: 10px 0;
}

/* device actions */

div.action-list > ul > li {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

/* div.action-list > ul > li > span {
  display: flex;
  align-items: center;
} */

li.done, a.show-description {
  color: #aaa;
  transform: rotate(0deg);
  transition: transform 0.1s ease;
}

a.show-description {
  float: right;
  text-decoration: none;
}

.title {
  cursor: pointer;
  font-size: 15px;
}

a {
  color: #337ab7;
}

.device-wrapper h4 {
  color: #656464;
  margin-bottom: 5px;
  font-size: 18px;
  transition: color 1s linear;
}

div.description,
div.instructions {
  margin: 10px 0;
}

div.instructions li {
  padding: 5px 0;
}

.action-description {
  border-left: 1px solid #eee;
  padding-left: 15px;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.action-description ol {
  padding-left: 20px;
  padding-right: 20px;
}

.action-icon {
  display: inline-block;
  margin-right: 7px;
  position: relative;
  top: 3px;
}

pre.description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  white-space: pre-wrap;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a.btn {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

a.btn:hover {
  background-color: #cacbcd;
  background-image: none;
  -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  color: rgba(0,0,0,.8);
}

.panel.device-summary {
  border: 1px solid #ddd;
  background: #fbfafa;
}
.panel.device-summary.ok {
  font-size: 1.05em;
  border-color: #e4eae1;
}
.panel.device-summary.warning {
  border-color: #f1e3c1;
}
.panel.device-summary.critical {
  border-color: #ecdede;
}

.panel.device-summary svg {
  position: relative;
  top: -3px;
  padding-right: 10px;
}

.panel.device-summary span {
  color: #333;
  vertical-align: middle;
}
.panel.device-summary.critical span {
  color: #9a211d;
}
.panel.device-summary.warning span {
  color: #5d4a19;
}

.result-list {
  margin-left: 20px;
  margin-bottom: 20px;
}
.result-list-item hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #efefef;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}
.result-heading {
  display: flex;
  align-items: baseline;
  width: 90%;
  justify-content: space-between;
}
.result-list-item {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: space-between;
}

.device-info-toggle-closed,
.show-description.closed {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  transition: transform 0.2s ease;
}
/*
@media (prefers-color-scheme: dark) {
  a {
    color: #9fbdf3;
  }
  a.show-description {
    float: right;
    text-decoration: none;
    color: #aaa;
    transform: rotate(0deg);
    transition: transform 0.1s ease;
  }
  .device-wrapper h4 {
    color: #efefef;
  }
  div.action-list > ul > li  {
    border-bottom: 1px solid #333;
  }
  .device-info-toggle-closed,
  .show-description.closed {
    transform: rotate(90deg);
    transition: transform 0.2s ease;
  }
} */
